
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>帮助</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=yes"/>
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <script type="text/javascript" src="/libs/jquery/jquery.min.js?v={{third_lib_version}}"></script>
</head>
<body>
<div style="margin: 0 auto;">
    <img src="/images/examine_help.jpg" id="img_help"/>
</div>
<script>
    $(function(){
        wb = document.body.clientWidth;
        $("#img_help").width(wb);
    });
</script>
</body>

</html>