{% extends "WBT/home_wx.twig" %}

{% block title %}
<title>{{wx_user.nick}}</title>
{% endblock %}

{% block css_link %}
<style type="text/css">

</style>
{% endblock %}

{% block body %}
<body style="background-color: white;">
<div style="padding-top: 20px;padding-left: 15px;">
    <p style="font-size: 16px;"><span style="font-weight: bold">供应商：</span>{{ store.title }}</p>
    <p style="font-size: 16px;"><span style="font-weight: bold">餐厅：</span>{{ community_name }}</p>
    <p style="font-size: 16px;"><span style="font-weight: bold">报价单：</span>{{ category.title }}</p>
</div>

<div style="padding: 4px;">
    {{ table|raw }}
</div>

<script src="/libs/jquery/jquery.min.js?v={{third_lib_version}}"></script>

<script src="/libs/bootstrap3/js/bootstrap.min.js"></script>
<script src="/libs/bluefin/bootstrap-helpers.js?v={{third_lib_version}}"></script>

<script type="text/javascript">
    $(function () {
        if (!bluefinBH.isRegistered('_pagination')) {
            bluefinBH.register('_pagination', true);
            $('.pagination').each(function () {
                var divp = $(this),
                        req = divp.data('request');
                divp.on('click', 'a[data-page]', function (e) {
                    location.href = bluefinBH.buildUrl(req, {'*PAGING*': {'page': $(this).data('page')}});
                });
            });
        }
    });

</script>
<script>
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideOptionMenu');
        WeixinJSBridge.call('hideToolbar');
    });
</script>
</body>
{% endblock %}
