<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <style>
        *{padding: 0;margin: 0;}
    </style>
    <script src="/libs/jquery/jquery.min.js?v={{third_lib_version}}"></script>
</head>
<body>

<div style="height:50px;text-align:center;background:#fff;border-bottom:1px solid #ccc;width: 100%">
    <div  style="height:50px;line-height:50px;color:#000;float: left;width: 20%; " onclick="location.replace('/wx_user/procurement/examine_order?mp_user_id={{mp_user_id}}&top_directory_id={{top_directory_id}}&store_id={{ order_data.store_id}}');">返回</div>
    <div onclick="verify()"  style="height:50px;line-height:50px;font-size:1.0em;text-decoration: none;float: right;width: 20%;color: red;font-weight: bolder;">确认</div>
    <div style="height:50px;line-height:50px;font-size:1.5em;color:#000;width: 60%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display: block;">{{store_title}}</div >
</div>
<div style="color: white;background-color: #80c269;padding:5px 5px;">
    {% if order_data.order_self == 'order_supply' %}
    订货方式：给供应商下单
    {% endif %}
    {% if order_data.order_self == 'order_self' %}
    订货方式：自订货，不通过供应商
    {% endif %}
</div>

<div id="main" style="width: 100%;height: auto;">
    <ul>
        <li>
            <dl style="display: inline-block;font-size: 13px;padding: 3% 0;margin-left: 12%;">
                <dt style="font:normal normal 15px arial;margin-bottom: 4px;">{{ order_data.create_time}}</dt>
                <dd style="font:normal normal 13px arial;">订单号：{{ order_id }}</dd>
            </dl>
        </li>
        {% for data_content in order_detail_data %}
        <li style="padding:8px 5px;background:#e4e4e4;">
            <p style="float: left;margin-left: 5px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 50%;">
                档口:{{data_content.part}}
            </p>
            <p style="float: right;color: red;font-weight: bolder;margin-right: 20px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 30%;text-align: right;">
                &yen;{{data_content.price}}
            </p>
        </li>
        {% for order_detail in data_content.content %}
        <li style="display: block;border-top: 1px solid #ebebeb;border-bottom: 1px solid #ebebeb;margin-top: -1px;background: #fff;width: 100%;">
            <dl style="display: inline-block;font-size: 13px;padding: 10px 0;margin-left: 2%;width: 36%;overflow:hidden;white-space:nowrap; text-overflow:ellipsis;">
                <dt style="font:normal normal 15px arial;">{{order_detail.title}}</dt>
                <dd style="font:normal normal 13px arial;">{{order_detail.price}}{{order_detail.product_unit_new}}</dd>
            </dl>
                 <img src="/images/alter.png" style="float:right;margin-top: 8px;margin-right: 5px;" width="40px" onclick="change_img(this)" class="img_examine" title="{{order_detail.title}}"/>
                 <div style="width: 20%;margin-left: 1%;display:inline-block;float: right;vertical-align: middle;text-align: center;">
                     <div style="margin-left:6px;font:normal normal 14px Microsoft Yahei;display:inline-block;padding: 19px 5px;border-left:1px solid #ebebeb;" id="detail_{{order_detail.product_id}}part{{data_content.part_id}}" class="{{order_detail.product_unit_new}}" onclick="alter(this)">修改</div>
                 </div>
                 <input type="text" value="{{order_detail.count}}" style="float:right;font:normal normal 20px Microsoft Yahei;padding: 12px 0;vertical-align: middle;text-align: center;width: 16%;margin-right: 10px;margin-top: 3px;border: 0 solid white;color:black;"  id="count_{{order_detail.product_id}}part{{data_content.part_id}}" disabled="disabled" class="detail_order_alter" />
            <span style="float: right;padding: 14px 0;margin-right: -2px;font-size: 22px">&times;</span>
        </li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>

<div style="margin-top: 20px;text-align: center; margin-bottom: 80px;" id="price">
    <p style="float: right;margin-right: 30px;font-size: 1em;">总金额：
        <span id="total_price">{{order_data.total_price}}</span>元
    </p>
</div>

<div style="color: #ffffff;margin-top:60px;clear:both;">000</div>

<!-- 修改订单详情-->
<div id="alter" style="width: 100%;margin:0 auto;background: rgba(0,0,0,0.5);position: fixed;top: 0;left:0;display:none ;height:100%">
    <div id="alter_content" style="width: 95%;margin:50% auto;background:#fff;">
        <div style="height:35px;line-height: 35px;margin:0 auto;padding-left:3%;background: #eee;">修改</div>

        <div style="padding: 10%;text-align: center;margin: 4%;">
            <img src="/images/small_reduce.png" width="15%" id="reduce_count" style="margin-bottom: -8px;"/>

            <input type="number" value="0.0" style="display: inline;font-size: 2.2em;text-align: center;background-color: white;margin-right: 6px;margin-left: 6px;width: 55%"  id="alter_count" />

            <img src="/images/small_increase.png" width="15%" id="add_count" style="margin-bottom: -8px;"/>
        </div>

        <div style="height:35px;line-height: 35px;margin:0 auto;padding-left:3%;background: #eee;">
            <p id="alter_cancel" style="width:30%;padding-left:15%;border-right:1px solid #ccc;float: left;">取消</p>
            <p id="alter_sure" style="float: right;padding-right: 25%;">确定</p>
        </div>
    </div>
</div>
<input type="hidden" value="" id="alter_product_id"/>

<input type="hidden" value="" id="alter_product_unit"/>
<!-- "确认验货"-->
<div id="dialog_verify" style="width: 100%;margin:0 auto;background: rgba(0,0,0,0.5);position: fixed;top: 0;left:0;display: none;height:100%">

    <div class="content" style="width: 70%;margin:50% auto;background:#fff;">
        <div style="height:35px;line-height: 35px;margin:0 auto;padding-left:3%;background: #eee;">
            验货单确认
        </div>
        {% if order_data.order_self == 'order_supply' %}
        <div style="padding: 10%;text-align: center;">确认验货无误</div>
        {% endif %}
        {% if order_data.order_self == 'order_self' %}
        <div style="padding: 10%;text-align: center;">确认验货无误，自验货无需供应商确认</div>
        {% endif %}
        <div style="height:35px;line-height: 35px;margin:0 auto;padding-left:3%;background: #eee;">
            <p id="cancel_verify" style="width:30%;padding-left:15%;border-right:1px solid #ccc;float: left;">取消</p>
            <p id="determine_verify" style="float: right;padding-right: 25%;">确认</p>
        </div>
    </div>
</div>
</body>

<script type="text/javascript">

    $("#alter_cancel").click(function (){

        $("#alter").css("display","none");
        $("#alter_count").val(0.0);
        $("#alter_content").css("margin","50% auto");
    });

    $("#alter_sure").click(function ()
    {
        var alter_count = $("#alter_count").val();//产品现在选择斤数

        //判断产品单位
        var product_unit  = $("#alter_product_unit").val();
        if(product_unit == "元/斤" || product_unit == "元/公斤" || product_unit == "元/两"  )
        {
            alter_count = parseFloat(alter_count);
            alter_count = alter_count.toFixed(1);
        }
        else
        {
            alter_count = parseFloat(alter_count);
            alter_count = alter_count.toFixed(0);
        }

        if(alter_count <= 0 || alter_count == "")
        {
            alter_count = 0.0.toFixed(1);
        }

        var alter_product_id = $("#alter_product_id").val();
        $("#"+alter_product_id).val(alter_count);

        $("#alter").css("display","none");
        $("#alter_content").css("margin","50% auto");
    });

    //修改订单
    function alter(obj)
    {
        $("#alter").css("display","block");
        var id = $(obj).attr('id');//产品父元素id
        var product_unit = $(obj).attr("class");
        //查找产品id
        var idArray= new Array(); //定义一数组
        idArray=id.split("_"); //字符分割
        var count_id = "count_"+idArray[1];
        $("#alter_product_id").val(count_id);
        $("#alter_product_unit").val(product_unit);
        var  count_value = $("#"+count_id).val();//产品现在选择斤数
        //判断产品单位
        if(product_unit == "元/斤" || product_unit == "元/公斤" || product_unit == "元/两"  )
        {
            count_value = parseFloat(count_value);
            count_value = count_value.toFixed(1);
        }
        else
        {
            count_value = parseFloat(count_value);
            count_value = count_value.toFixed(0);
        }

         $("#alter_count").val(count_value);//产品现在选择斤数
        $("#determine_start").css("display","none");
        $("#determine_alter").css("display","block");
        $("#price").css("display","none");

    }
   //修改框里的内容变化
    $("#add_count").click(function ()
    {
        var alter_count =  $("#alter_count").val();
        var product_unit  = $("#alter_product_unit").val();
        //判断产品单位
        if(product_unit == "元/斤" || product_unit == "元/公斤" || product_unit == "元/两"  )
        {
            alter_count = parseFloat(alter_count)+0.1;
            alter_count = alter_count.toFixed(1);
        }
        else
        {
            alter_count = parseFloat(alter_count)+1;
            alter_count = alter_count.toFixed(0);
        }
        $("#alter_count").val(alter_count);
    });

    //修改框里的内容变化
    $("#reduce_count").click(function ()
    {
        var alter_count =  $("#alter_count").val();
        var product_unit  = $("#alter_product_unit").val();
        //判断产品单位
        if(product_unit == "元/斤" || product_unit == "元/公斤" || product_unit == "元/两"  )
        {
            alter_count = parseFloat(alter_count)-0.1;
            alter_count = alter_count.toFixed(1);
        }
        else
        {
            alter_count = parseFloat(alter_count)-1;
            alter_count = alter_count.toFixed(0);
        }

        if(alter_count <= 0 )
        {
            alter_count = 0.0.toFixed(1);
        }

        $("#alter_count").val(alter_count);
    });

  function change_img(obj)
  {
      var src = $(obj).attr("src");
      if(src == "/images/green_ok.png")
      {
          $(obj).attr("src", "/images/alter.png")
      }
      else
      {
          $(obj).attr("src", "/images/green_ok.png")
      }

  }

    function verify()
    {
        //检查是否所有的东西都已经确认
        $(".img_examine").each(function()
        {
            var src_img = $(this).attr('src');
            if(src_img != "/images/green_ok.png")
            {
                var title = $(this).attr('title');
                alert(title+"还没有勾选");
                exit;
            }

        });
        $("#dialog_verify").css("display","block");

    }

    $("#cancel_verify").click(function (){

        $("#dialog_verify").css("display","none");
    });

    $("#determine_verify").click(function ()
    {

        var product_data = [];
        $(".detail_order_alter").each(function()
        {
            product_data[$(this).attr('id')] = $(this).val();

        });
        var data = [];
        var product = [];
        for(var key in product_data)
        {
            product.push(key+':'+product_data[key]);
        }

        data.push(product.join(","));
        $("#determine_verify").css("display","none");
        var site = location.protocol + '//' + location.host + '/api/wx_user/procurement/send_supply_alter';
        var post_data = {'wx_user_id':'{{wx_user_id}}','mp_user_id':'{{mp_user_id}}','order_id':'{{ order_id }}','product_data':data,'type':'supply_examine'};
        $.ajax({
            url:site,
            data:post_data,
            type:'POST',
            dataType:'json',
            async: true,
            success:function(r)
            {
                $("#determine_alter_content").css("display","none");
                location.href = '/wx_user/procurement/shop_success?mp_user_id={{mp_user_id}}&top_directory_id={{top_directory_id}}&type=examine&template={{template}}&order_self={{order_data.order_self}}';
            }
        });


    });

    $("#alter_count").click(function ()
    {
        $("#alter_content").css("margin","10% auto");
    });
</script>
<script>
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideOptionMenu');
        WeixinJSBridge.call('hideToolbar');
    });
</script>
</html>