<!DOCTYPE html>
<html>
<head>
    <title>订货单确认</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{padding: 0;margin: 0;}
        a{text-decoration: none;}
    </style>
    <script src="/libs/jquery/jquery.min.js?v={{third_lib_version}}"></script>
</head>
<body>
<header style="height:50px;text-align:center;background:#fff;border-bottom:1px solid #ccc;">
    <span style="height:50px;line-height:50px;font-size:1em;padding-left:3%;color: #000;float: left; " onclick="location.replace(document.referrer);">返回</span>
    <span style="height:50px;line-height:50px;font-size:1.2em;">订货单</span>
    {% if procurement_order.status == 'supply_verify' %}
    <span id="determine_start" style="height:50px;line-height:50px;font-size:1em;padding-right:3%;color: red;font-weight: bolder;float: right; ">确认</span>
    {% endif %}
</header>
<div style="width: 94%;height: 80px;border-bottom: 1px solid #ccc;padding:3% ;">
    <p style="padding: 3px 0;">
        <img src="/images/procurement_house.png" style="width: 15px;height: 15px;padding-right: 5px;">{{store_name}}
    </p>
    <p style="color:#363636;padding: 3px 0;">{{ procurement_order.create_time}}</p>
    <p style="color:#bbb;font-size:0.8em;padding: 3px 0;">订单号:{{ order_id }}</p>
</div>

{% for data_content in order_detail_data %}
<div style="padding:8px 5px;background:#e4e4e4;clear: both;border-bottom:1px solid #ccc;">
    <p style="float: left;margin-left: 5px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 50%;">
        档口:{{data_content.part}}
    </p>
    <p style="float: right;color: red;font-weight: bolder;margin-right: 20px;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 30%;text-align: right;">
        &yen;{{data_content.price}}
    </p>
    <div style="color: #e4e4e4;">0</div>
</div>
{% for detail in data_content.content %}
<div class="main" style="width:100%;padding-top:4%; padding-bottom:12%; margin:0 auto;border-bottom:1px solid #ccc;">
    <div class="Products" style="padding-left:5%;float:left;width: 52%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">
        <p>{{detail.title}}</p>
        <p style="font-size: 10px;">{{detail.price}}{{detail.product_unit_new}}</p>
    </div>
    <div class="Number" style="float:right;font-size: 14px;width: 30%;text-align: right;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;padding-top:2%;margin-right: 25px;">
        <span>x{{detail.count}}</span>
    </div>
</div>
{% endfor %}
{% endfor %}

<div class="main" style="width:100%;padding-top:5%; padding-bottom:15%; margin:0 auto;">
    <div class="Number" style="padding-right:3%;float:right;">
        <span style="font-size:1.2em;font-weight:bolder;">共计:&yen;{{total_price}}元</span>
    </div>
</div>

<div id="determine_content" style="width: 100%;margin:0 auto;background: rgba(0,0,0,0.5);position: fixed;top: 0;left:0;display: none;height:100%">
    <div class="content" style="width: 85%;margin:50% auto;background:#fff;">
        <div style="height:35px;line-height: 35px;margin:0 auto;padding-left:3%;background: #eee;">订货单确认 </div>
        <div style="padding: 10%;text-align: center;">确认收到订货单,并发送通知给采购员</div>
        <div style="height:35px;line-height: 35px;margin:0 auto;padding-left:3%;background: #eee;">
            <p id="cancel" style="width:30%;padding-left:15%;border-right:1px solid #ccc;float: left;">取消</p>
            <p id="determine_ok" style="float: right;padding-right: 25%;">确定</p>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">

    $("#determine_start").click(function (){

        $("#determine_content").css("display","block");
    });
    $("#cancel").click(function (){

        $("#determine_content").css("display","none");
    });
    $("#determine_ok").click(function ()
    {
        $("#determine_ok").css("display","none");
        var site = location.protocol + '//' + location.host + '/api/wx_user/supply/send_supply';
        var post_data = {'wx_user_id':'{{wx_user_id}}','mp_user_id':'{{mp_user_id}}','order_id':'{{ order_id }}','type':'supply_send'};
        $.ajax({
            url:site,
            data:post_data,
            type:'POST',
            dataType:'json',
            async: true,
            success:function(r)
            {
                if(r.errno == 0)
                {
                    location.href = "/wx_user/supply/order_submit?mp_user_id={{mp_user_id}}&top_directory_id={{top_directory_id}}&top_directory_id={{top_directory_id}}&template={{template}}";

                }
            }
        });

    });
</script>
<script>
    document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
        WeixinJSBridge.call('hideOptionMenu');
        WeixinJSBridge.call('hideToolbar');
    });
</script>
</html>