<!DOCTYPE html>
<html>
<head>
    <title>订单详情</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{padding: 0;margin: 0;}
        a{text-decoration: none;}
    </style>
</head>
<header style="height:75px;text-align:center;background:#fff;border-bottom:1px solid #ccc;">
    <a href="/wx_user/test/c"style="height:75px;line-height:75px;font-size:1.2em;padding-left:3%;color: #000;float: left; ">返回</a>
    <span style="height:75px;line-height:75px;font-size:1.2em;">查看订单详情</span>
    <a href="/wx_user/test/index"style="height:75px;line-height:75px;color:#000;font-size:1.2em;padding-right:3%;outline:none;float: right; ">首页</a>
</header>
<div style="height:15px;background:#e4e4e4;border-bottom:1px solid #ccc;"></div>
<div id="orderForm"style="width:100%;padding-top:5%; padding-bottom:18%; margin:0 auto;border-bottom:1px solid #ccc;">
    <div class="Products"style="padding-left:5%;font-weight:bolder;float:left;">
        <p style="padding:3% 0;color:#363636;font-size:1em;">2015-02-04&nbsp;09:35</p>
        <p style="padding:3% 0;color:#bbb;font-size:0.8em;">订单号:331349768594123</p>
    </div>
    <div style="padding: 4% 10%;float: right;">
        <a href="#"style="color:#000;font-size:1.2em;font-weight:bolder;">></a>
    </div>
</div>
<div class="main"style="width:100%;padding-top:5%; padding-bottom:15%; margin:0 auto;">
    <div class="Products"style="width:80%;padding-left:3%;font-weight:bolder;float:left;">
        <p>白菜</p>
        <div style="width: 60%;border: 1px dashed #000;margin-left:29%;"></div>
        <p>1.50/斤</p>
    </div>
    <div style= "padding-right:3%;float:right;">
        <span style="font-size:1.2em;font-weight:bolder;">x1.5</span>
    </div>
</div>
<div class="main"style="width:100%;padding-top:5%; padding-bottom:15%; margin:0 auto;">
    <div class="Products"style="width:80%;padding-left:3%;font-weight:bolder;float:left;">
        <p>芥蓝</p>
        <div style="width: 60%;border: 1px dashed #000;margin-left:29%;"></div>
        <p>3.00/斤</p>
    </div>
    <div style= "padding-right:3%;float:right;">
        <span style="font-size:1.2em;font-weight:bolder;">x1.0</span>
    </div>
</div>
<div class="main"style="width:100%;padding-top:5%; padding-bottom:15%; margin:0 auto;">
    <div class="Products"style="width:80%;padding-left:3%;font-weight:bolder;float:left;">
        <p>西红柿</p>
        <div style="width: 60%;border: 1px dashed #000;margin-left:29%;"></div>
        <p>2.50/斤</p>
    </div>
    <div style= "padding-right:3%;float:right;">
        <span style="font-size:1.2em;font-weight:bolder;">x1.5</span>
    </div>
</div>
<div class="main"style="width:100%;padding-top:5%; padding-bottom:15%; margin:0 auto;">
    <div class="Products"style="width:80%;padding-left:3%;font-weight:bolder;float:left;">
        <p>油菜</p>
        <div style="width: 60%;border: 1px dashed #000;margin-left:29%;"></div>
        <p>3.00/斤</p>
    </div>
    <div style= "padding-right:3%;float:right;">
        <span style="font-size:1.2em;font-weight:bolder;">x1.0</span>
    </div>
</div>
<div class="main"style="width:100%;padding-top:5%; padding-bottom:15%; margin:0 auto;">
    <div class="Products"style="width:80%;padding-left:3%;font-weight:bolder;float:left;">
        <p>芹菜</p>
        <div style="width: 60%;border: 1px dashed #000;margin-left:29%;"></div>
        <p>2.50/斤</p>
    </div>
    <div style= "padding-right:3%;float:right;">
        <span style="font-size:1.2em;font-weight:bolder;">x1.5</span>
    </div>
</div>
<div style="height:35px;border-top:1px solid #ccc;margin: 2%;">
    <p style="padding: 3%;">总计:&nbsp;<span style="color:#f00;">210.0</span></p>
</div>
</body>
</html>