.DS_Store
.DS_Store?
Thumbs.db
*.mno
*.swp
.idea/
/log
webroot/test.php
webroot/images/menu/
webroot/images/upload/
webroot/images/test/
/cache/
webroot/images/logo.png
webroot/ueditor/php/upload
/voice_date
webroot/ueditor/php/voice_date