{% extends "WBT/home.twig" %}

{% block header %}
<ul class="pull-right nav nav-pills">
    <li><a href="/auth/index">登录</a></li>
    <li><a href="/register">注册</a></li>
</ul>
{% endblock %}

{% block content %}
<div class="container">
    <div class="intro">
        <h1>餐饮行业SCRM</h1>
        <ul>
            <li>餐厅微网站</li>
            <li>微信点菜</li>
            <li>微信点评</li>
            <li>餐厅路线导航</li>
            <li>永不丢失外卖单</li>
            <li>免费消息群发</li>
            <li>丰富的数据报表</li>
            <li>更多功能开发中...</li>
        </ul>
    </div>
</div>
{% endblock %}