{% extends "WBT/home_wx.twig" %}

{% block title %}
<title>{{ article.article_title|raw }}</title>
{% endblock %}

{% block body %}
<body onload="resize_img();" onresize="resize_img();" style="margin: 15px 15px 40px;">
<div id="main-div">
    <h1 style="color: #000;font-size: 20px;font-weight: bold;">{{ article.article_title|raw }}</h1>
    {{ article.article_detail|raw }}
</div>
</body>
<script src="/libs/jquery/jquery.min.js?v={{third_lib_version}}"></script>
<script src="/libs/bootstrap/js/bootstrap.min.js?v={{third_lib_version}}"></script>
<script src="/libs/bluefin/bootstrap-helpers.js?v={{third_lib_version}}"></script>
<script type="text/javascript">
    function resize_img() {
        $("#main-div").find('img').each(function () {
            var $clientWidth = document.body.clientWidth;
            var $img = new Image();
            $img.src = $(this).attr("src");
            if ($img.width > 0) {
                $(this).css("width", Math.min($clientWidth, $img.width));
            }
        });
    }

    window.baseUrl = location.url;
    window.shareTitle = '{{ article.article_title }}';
    window.shareDesc = '{% if article.article_desc|length > 0 %}{{ article.article_desc|raw }}{% else %}{{ article.article_title }}{% endif %}';
    window.picUrl = '{{ article.share_url }}';
    window.customId = "1";
</script>

<script type="text/javascript" src="/wx-share/wxm-core176ed4.js"></script>
<script type="text/javascript" src="/wx-share/wx_api.js?"></script>
{% endblock %}


