
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="keywords" content="餐饮行业CRM,餐饮CRM,SCRM,RCRM" />
    <meta name="description" content="餐饮行业SCRM。canyin.weibotui.com" />
    <title>SCRM 管理后台</title>
    {% block bootstrap_css %}
    <link href="/libs/bootstrap/css/bootstrap.min.css?v={{third_lib_version}}" type="text/css" rel="stylesheet" media="screen">
    {% endblock %}
    <link type="text/css" href="/libs/bluefin/bootstrap-addons.css?v={{third_lib_version}}" rel="stylesheet">
    <link href="/styles/main.css?v={{third_lib_version}}" type="text/css" rel="stylesheet" media="screen">
    <!--[if IE 6]><link href="/styles/ie6.css?v={{third_lib_version}}" type="text/css" rel="stylesheet" media="screen"><![endif]-->
    <style>
        html{overflow-y:scroll}
    </style>
    {% block css_link %}
    <style type="text/css">
        @media print {
            .no_print {display:none}
        }
    </style>
    {% endblock %}
    {% block header_js_link %}{% endblock %}
</head>

<body onload="dp()">

<div class="header no_print">
    <div class="container">
        <a class="pull-left logo" href="http://canyin.weibotui.com" title="餐饮行业SCRM"></a>
    </div>
</div>

<script src="/libs/jquery/jquery.min.js?v={{third_lib_version}}"></script>
{% block bootstrap_js %}
<script src="/libs/bootstrap/js/bootstrap.min.js?v={{third_lib_version}}"></script>
{% endblock %}
<script src="/libs/bluefin/bootstrap-helpers.js?v={{third_lib_version}}"></script>
{% if pagination_js %}
<script type="text/javascript">
    $(function () {
        if (!bluefinBH.isRegistered('_pagination')) {
            bluefinBH.register('_pagination', true);
            $('.pagination').each(function () {
                var divp = $(this),
                        req = divp.data('request');
                divp.on('click', 'a[data-page]', function (e) {
                    location.href = bluefinBH.buildUrl(req, {'*PAGING*': {'page': $(this).data('page')}});
                });
            });
        }
    });
</script>
{% endif %}
{% block js_link %}
<script type="text/javascript">
    function dp(){
        function print(){
            window.print();
        }
        function close(){
            window.close();
        }
        setTimeout("print()",1000);
        setTimeout("close()",3000);
    }
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="basic-block" id="inform">
        {% block content_login %}
        <div class="no_print">
            <button type="button" class="btn btn-default" onclick="disappearInform()">已查看</button>
            <a href="/mp_admin/order/inform?mp_user_id={{mp_user_id}}&community_id={{community_id}}" class="btn btn-default" target="_blank" style=" margin-bottom:2px;">打印新订单</a>
        </div>
        <span style="float:left;" class="no_print">新订单数量：</span>
        <span id="count" class="no_print">{{ count  }}</span>

        <hr/>
        <div>{{ table|raw }}</div>


    </div>
    {% endblock %}

</div>
{% endblock %}


{% set pagination_js = FALSE %}
</body>
</html>



