{% extends "WBT/home_login.twig" %}

{% set module = 'module_store' %}

{% block sub_breadcrumbs %}
<li class="active"><a href="/mp_admin/community/list?mp_user_id={{mp_user_id}}{% if is_community_admin %}&community_id={{community_id}}&community_name={{community_name}}{% else %}{% endif %}">{{mp_name}}</a>
    <span class="divider">/</span>
</li>
<li class="active"><a href="/mp_admin/function/list?mp_user_id={{mp_user_id}}&community_id={{community_id}}&community_name={{community_name}}">{{community_name}}</a>
    <span class="divider">/</span>
</li>
<li>档口管理</li>
{% endblock %}

{% block action %}
{% if store_rw %}
<button type="button" class="btn btn-success" onclick="bluefinBH.ajaxDialog('/mp_admin/part_dialog/part_add?mp_user_id={{ mp_user_id }}&community_id={{community_id}}');">
    添加档口
</button>

{% endif %}
{% endblock %}

{% block css_link %}
<style type="text/css">
    .big_area {
        width: 300px;
        height: 120px;
    }
</style>
{% endblock %}

{% set pagination_js = TRUE %}