{% extends "WBT/home_login.twig" %}

{% set module = 'module_store' %}

{% block sub_breadcrumbs %}
<li class="active"><a href="/mp_admin/community/list?mp_user_id={{mp_user_id}}">{{mp_name}}</a>
    <span class="divider">/</span>
</li>
<li class="active"><a href="/mp_admin/function/list?mp_user_id={{mp_user_id}}&community_id={{community_id}}&community_name={{community_name}}">{{community_name}}</a>
    <span class="divider">/</span>
</li>
<li class="active"><a href="/mp_admin/store/store_procurement?mp_user_id={{mp_user_id}}&community_id={{community_id}}">采购管理</a><span class="divider">/</span></li>
<li>{{ store.title }}</li>
{% endblock %}

{% block action %}
{% if store_rw %}

      {% if community_type == 'procurement_supply' %}
      {% elseif community_type == 'procurement_restaurant' %}
          <button type="button" class="btn btn-success" onclick="bluefinBH.ajaxDialog('/mp_admin/store_dialog/category_add_procurement?store_id={{ store.store_id }}&mp_user_id={{ mp_user_id }}&community_id={{community_id}}');">
           添加报价单
           </button>
       {% endif%}

       {% if community_type == 'procurement_supply' %}
       {% elseif community_type == 'procurement_restaurant' %}
           <button type="button" class="btn btn-success" onclick="bluefinBH.ajaxDialog('/mp_admin/store_dialog/category_copy_procurement?mp_user_id={{ mp_user_id }}&community_id={{community_id}}&store_id={{ store.store_id }}');">
             复制报价单
           </button>
        {% endif %}

{% endif %}
{% endblock %}

{% block css_link %}
<style type="text/css">
    .big_area {
        width: 300px;
        height: 120px;
    }
</style>

{% endblock %}

{% set pagination_js = TRUE %}

{% block js_link %}

<script src="/libs/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript">
    $("#form1Icon_UPLOAD").uploadify({
        'swf'           : '/libs/uploadify/uploadify.swf',
        //       'uploader'      : '/api/image/file/upload_by_flash',
        'uploader'      : '/api/fcrm/house/category_upload?mp_user_id={{ mp_user_id }}&community_id={{ community_id }}',
        'fileSizeLimit' : '50MB',
        'width'         : 68,
// 'height'        : 28,
        'debug'         : false,
// 'buttonText'   : '选择图片',
// 'buttonClass'   : '/images/button/select_img.png',
        'buttonImage'   : '/libs/uploadify/select_file.png',
//                'fileTypeExts'  : '*.png;*.jpg;*.jpeg;*.gif;*.bmp',
        'fileTypeExts'  : '*.xlsx',
        'method'        : 'post',
        'multi'         : false,
        /*                'onSelectError' : function(file, errorCode, errorMsg)
         {
         if(errorCode == -110)
         {
         alert('图片大小超过限制,最大可以上传5M的图片。');
         }
         },
         */
        'onUploadSuccess' : function(file, data)
        {
            data = eval("(" + data + ")");
            if(data.errno == 0)
            {
                location.reload();
                alert("录入成功");
            }
            else
            {
                location.reload();
                alert(data.error);

            }
        }

    });
</script>
{% endblock %}