<!DOCTYPE html >
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>微博推SCRM-下载谷歌浏览器</title>
    <style type="text/css">
        body{width:100%;}
        a{color:#366097;text-decoration:none;}
        a:hover{color:#ff0000;text-decoration:underline;}
    </style>
</head>
<body>
<div style="font-size:14px;color:#366097;width:100px;margin:auto;">
    <a href="http://dlsw.baidu.com/sw-search-sp/soft/9d/14744/ChromeStandaloneSetup41.0.2272.89.1426235198.exe">下载谷歌浏览器</a>
</div>
</body>
</html>

